*      {margin: 0;  padding: 0;}
a IMG {border:0px; }
.logo { position:fixed !important; position: absolute; top: 0px; 
          top: expression(document.getElementsByTagName('body')[0].scrollTop+0); 
           padding: 0 0 85px;}
body {margin: 0;  padding: 0; background-color: #ddd; font-family: "Vernada", sans-serif; font-size: 10pt;}
.bod  table {background-color:#eee; }
.bod td {padding:2px; border-style: solid; border-width: 1px ;border-color: #ccc; padding-left: 1px; border-top:none; border-left:none;}
#sostav {margin-left: 10px;   position: absolute; top: 185px; }
.bod table td {margin-left: 0; }
hr {  border-style: solid; border-width: 2px 1px 2px 1px; border-color: #aaa #999 #ddd #eee;}
h1, h2, h3, h4 {text-align:center; margin: 1em; color:#02535a;}
p { font-family: "Verdana", sans-serif;  font-size: 12pt; margin: 1em; }
i {font-family: "Times New Roman", sans-serif; font-size: 16pt;}
em {font-family: "Times New Roman"; font-size: 16pt;}
table i {font-family: "Times New Roman"; font-size: 12pt;}
sub {font-size: 10pt;font-family: "Times New Roman";}
sub.fo {font-size: 12pt;font-family: "Times New Roman";}
sup {font-size: 8pt;font-family: "Times New Roman";}
sup.fo {font-size: 12pt;font-family: "Times New Roman";}
.vcentr {vertical-align: middle;}
.fo {font-family: "Times New Roman"; font-size: 16pt; }
.cit {width:95%; background-color: #ddd;  font-family: "Arial", sans-serif; font-size: 12pt; margin: 1em auto; padding: 0 7px;
      border-style: solid; border-width: 2px 2px 2px 2px; border-color: #aaa #eee #eee #aaa;}
.text1 { font-family: "Arial", sans-serif;  font-size: 12pt; }
.centr {text-align:center;}
.tab1 {width:800px; margin: auto; }
.td1 { border-style: solid; border-width: 1px 1px 1px 1px; border-color: #999 #e0e0e0 #e5e5e5 #999;
      background-color:#92c0c0;}
.td2 {border-style: solid; border-width: 2px 2px 2px 2px; border-color: #ccc #fff #fff #ccc;  }
.td1 hr {border-style: solid; border-width: 1px 1px 1px 1px; border-color: #ddd #999 #999 #999}
.clock {  background: #ccc; position: absolute; top: 6px; right:20px;  }
.kalkul { width:50%;  padding-left:10px; font-size: 13pt; }
.kalkul a {margin-left:5px; margin-right:5px;}
.sear {margin-left: 3px;   position:fixed !important; position: absolute; top: 160px; 
          top: expression(document.getElementsByTagName('body')[0].scrollTop+160); }
.ras {display: none; width:80%;  margin: 0 10% 0 10%; box-shadow: 4px 4px 4px #777;  
background-color:#ddd;  cursor:pointer}
.sostav {position:fixed !important; position: absolute;   position: absolute; top: 225px; left:20px;
 border-style: solid; border-width: 1px 2px 2px 1px; border-color: #fff #ddd #ddd #fff; 
 background: #f0f0f0; text-align:center;}
.sostav:hover { background-color: #0fb; }
#home {position: absolute; top: 0px; left:4px;}


#hom {height:200px; 
margin: 10px;  position:fixed !important; position: absolute; top: 0px; top: expression(document.getElementsByTagName('body')[0].scrollTop+10);   }
#sel {margin-left: 166px;  position:fixed !important; position: absolute; top: 7px; top: 
         expression(document.getElementsByTagName('body')[0].scrollTop+7);  }

.menu1 {top:12px;}
.menu1 ul {list-style: none; }
.menu1 ul li {position: relative;  float: left;  background:linear-gradient(to top,#678,#abc); height:20px; font-size: 10pt; cursor: pointer;}
.menu1 a {float: left; position: relative;  text-decoration: none; font-size: 10pt; background-color:#666;color: #fff;
  padding: 4px 5px;  border-style: solid; border-width: 0px 1px 1px 0px;border-color: #234; background:linear-gradient(to top,#456,#789);}
.menu1 a:hover { background-color:#444; background:linear-gradient(to top,#234,#567);  }
.menu1 a:active { background-color:#222; background:linear-gradient(to top,#123,#345); 
border-style: solid; border-width: 1px 1px 0px 0px;border-color: #123; }
.menu1 ul li ul {visibility:  hidden; position: absolute; z-index: 1;}
.menu1 li:hover ul { visibility: visible; margin-left:0px; margin-top:24px;} 
.menu1 li ul li a { width:132px;height:20px; padding: 0 5px;}
#remnav {margin-left: 7px;   position:fixed !important; position: absolute; top: 7px; 
font-family: "Arial", sans-serif; font-size: 15px;
          top: expression(document.getElementsByTagName('body')[0].scrollTop+5); }

#bod{background-color:#eee;margin:1px 250px 10px 1px;border-style:solid;border-width:1px 0 0 1px;border-color:#e2e2e2;box-shadow:2px 2px 2px #777;filter:progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=150, Strength=6)}
.bod{background-color:#eee;margin:1px 250px 10px 1px;border-style:solid;border-width:1px 0 0 1px;border-color:#e2e2e2;box-shadow:2px 2px 2px #777;}
.footer{margin:1px 250px 10px 10px;}
.men {display:none;}
.mark {position:absolute;right:255px}

#nav {position: fixed; top: 0px; left:0px; width:100%;z-index: 100; font-family:"Arial", sans-serif;} 
#menu ul li {list-style: none; position: relative;  float: left;cursor: pointer;}
#menu a { position: relative; text-decoration:none; font-size:10pt; float:left; padding:3px 10px;  border-style:solid; border-width:0px 1px 1px 0px; border-color:#000; color: #fff; background-color:#48c;background:linear-gradient(to top,#036,#6ae);}
#menu .dir { position: relative; text-decoration:none; font-size:10pt; float:left; padding:3px 10px;  border-style:solid; border-width:0px 1px 1px 0px; border-color:#000; color: #fff;background-color:#48c; background:linear-gradient(to top,#036,#6ae);cursor: pointer;}
#menu .dir:hover { background-color:#48c; background:linear-gradient(to top,#159,#7bf);  }
#menu a:hover { background-color:#48c; background:linear-gradient(to top,#159,#7bf);  }
#menu a:active { background-color:#26a; background:linear-gradient(to top,#048,#59d);border-style: solid; border-width: 1px 1px 0px 0px;border-color: #000 #444 #000 #666; }
#menu ul>li>ul {visibility:  hidden; position: absolute; z-index: 1; margin-left:-10px; margin-top:3px;}
#menu ul>li:hover>ul { visibility: visible; } 
#menu ul>li>ul>li a { width:230px;height:27px; color:#fff; padding: 0 5px;background-color:#48c;}

#dir{position: absolute; width:248px; right:0px;top:2px;z-index:0;margin:auto;padding:auto;text-align:center;}

#sel_br {position: absolute; top: 70px; right:260px}

/* #dir { position: fixed; margin-left: 2px; top: 90px;  */
border-style: solid; border-width: 1px 1px 1px 1px; border-color: #aaa #f0f0f0 #f0f0f0 #aaa;
          top: expression(document.getElementsByTagName('body')[0].scrollTop+99); }
#zzz1 {display:inline-block;}
#data {float:left; width:470px; text-align:left;margin:10px}

#menu_br {position:absolute;left:15px;top:30px;}
#zzz {display:inline-block;position:absolute;left:115px;top:30px;}
#label_mod {position:absolute;left:15px;top:60px;}
.fix {position:fixed;}
.brtv {position:fixed;right: 320px; top: 8px; z-index:2;background-color:#fff;font-size:12pt;}
#brand1 {position:fixed!important; top:50px; right:256px;background-color:#fff;}
#news{position:fixed;top:2px;right:2px;width:244px; padding:auto; text-align:center;background-color:#afa;font-size:11pt;}

#menn1, #ul_br{display:none;}

@media only screen and (max-width : 800px) { /*--------------- маленький экран ---------------------------*/
.tab1 {width:500px;}
/* #nav{display:none;} */
#ul_br {position:fixed; top:0px;width:100%;font-size:16pt;background: #def;color:#500;z-index:1}
#ul_br a {text-decoration:none; font-size:16pt; color:#500;}
#ul_br a:hover { background: #fff;}
#menn1 {display:block;position:fixed;top:10px;left:15px;z-index:100;}

#hom_img {position:absolute;display:none;top:15px;left:15px;z-index:100;}
#kalk {position:absolute;right:15px;}
.mark {position:absolute;right:15px;}
#news{display:none;}
#dir{position:relative;display:none; }
img {   max-width: 100%;}
#data {min-width:320px; text-align:left;}
#label_mod {position:absolute;left:40px;top:35px;}
#menu_br {position:absolute;left:10px;top:40px;z-index:10;}
#zzz {display:inline-block;position:absolute;left:105px;top:10px;z-index:10;}
#bod{background-color:#eee; margin:0 0 0 0; border:0; padding-top:22px;box-shadow:none ;}
.bod{background-color:#eee; margin:0 0 0 0; border:0; padding-top:22px;box-shadow:none ;}
.footer{margin:1px 0px 10px 0px;}
#nav {position: absolute; top: 3px; margin-left:1px;} 
#menu{position:absolute;left:1px;font-family:"Arial", sans-serif;font-size:10pt;}
#menu .dir{position:relative;margin-top:-1px;padding:5px 0px 1px;0px; text-align:center;width:109px;height:35px;}
#menu >ul>li>a{position:relative;margin-top:-1px;padding:5px 0px 1px;0px; text-align:center;width:109px;height:35px;}
#menu ul{visibility:hidden;position:absolute;top:39px;left:0px;list-style:none;}
#menu:hover ul{visibility:visible;}
#menu a {text-decoration:none;position:relative;display:block;width:106px;height:30px;line-height:30px;font-size: 10pt;padding:0px 0px; }

#menu .dir>ul {visibility:hidden;top:-3px;left:117px;list-style:none;}
#menu .dir:hover>ul {visibility:visible;}
#menu ul>li>ul>li a { width:200px; padding: 3px 0px;}

#menu .men{display:block;width:110px;color:#fff;height:35px;line-height:35px;cursor:pointer;text-align:center; }
#menu .men1 {position:absolute;left:110px;top:-39px;}
#menu .men1 a {height:35px;line-height:35px;text-align:center;}
/* #menu .men:hover {background:#48c;} */
#menu .men1:hover a{background:#48c;}
#sel_br { top: 3px; right:10%}
#menu_br {display:none;}
.url_mob {font-size: 30pt;}
/* .menu1 {margin-top:15px;} */
.fix {position:relative;}
.brtv {position:absolute;right: 10px; top:8px; }
#brand1 {position:absolute; right:10px; top:50px; background-color:#fff;z-index:100}
.menu1 ul li {height:30px;cursor: pointer;}
.menu1 a { background:linear-gradient(to top,#678,#cde);height:30px;line-height:30px;}
.menu1 li ul li a { width:132px;height:30px; background:linear-gradient(to top,#678,#cde);}
.menu1 li:hover ul { margin-top:35px;} 
}